<div class="form-container">
  <div class="section form-layout">
    <h3>بازیابی کلمه عبور</h3>
    <hr>
    <div class="form-content">
      <div class="alert-info p-4 mb-3">
        در صورتی که رمزعبور خود را فراموش کرده اید ایمیل و یا شماره همراهی که با آن اقدام به سمت نام کرده یاد را وارد کنید تا رمزعبور شما ارسال گردد
      </div>
      <div class="form-group">
        <label>شماره موبایل یا ایمیل خود را وارد کنید</label>
        <input class="form-control text-center" placeholder="شماره موبایل یا ایمیل">
      </div>
      <mat-checkbox class="text-secondary d-block my-3">
        من ربات نیستم
      </mat-checkbox>
      <button class="btn btn-info btn-block">بازیابی کلمه عبور</button>
    </div>
  </div>
</div>
