<div class="form-container auto-AR">
  <div class="section">
    <h3>ثبت کسب و کار</h3>
    <hr>
    <div class="form-content">
      <h4>کالا</h4>
      <div class="form-group">
        <label>زمینه فعالیت</label>
        <input class="form-control small">
      </div>
      <div class="form-group">
        <label>آدرس سایت</label>
        <input class="form-control small">
      </div>

      <h4 class="mt-5">خدمات</h4>
      <div class="form-group">
        <label>زمینه فعالیت</label>
        <input class="form-control small">
      </div>
      <div class="form-group">
        <label>آدرس سایت</label>
        <input class="form-control small">
      </div>




      <label class="d-block mt-4">آیا مایل هستید خدمات خود را به تفکیک در سایت عمران مدرن مشخص کنید؟</label>
      <div class="alert-danger alert">درصورت انتخاب خیر ممکن است فرایند تکمیل اطلاعات زمانبر شود</div>
      <mat-button-toggle-group name="services">
        <mat-button-toggle value="true">بله</mat-button-toggle>
        <mat-button-toggle value="false">خیر</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="mt-5 w-100">
        <button class="btn btn-success w-50">ثبت</button>
        <button class="btn btn-outline-danger mr-5">بازگشت</button>
      </div>
    </div>
  </div>
</div>

