<div>
  <!-- <svg class="header-svg" [ngClass]="{'d-none': isSticky}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 265" >
    <filter id="f1" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceGraphic" dx="5" dy="2" />
      <feColorMatrix result="matrixOut" in="offOut" type="matrix"
      values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 1 0" />
      <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="10" />
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>
    <path fill="#ebeff3" fill-opacity="1" d="M0,0L284,243L1920,265L1920,0Z"  filter="url(#f1)"></path>
  </svg>
  <svg class="header-svg" [ngClass]="{'d-none': isSticky}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 265">
    <path fill="#2b5670" fill-opacity="1" d="M0,165L1840,144L1920,0L0,0Z"></path>
  </svg> -->
  <div id="header-top" [ngClass]="{'sticky': isSticky}">
    <div class="logo-container">
      <div [ngClass]="{'d-none': isSticky}">
          <img class="logo" src="../../../../assets/img/logo/logo.png" width="90px" height="90px">
      </div>

      <div>
        <h2>عمران مدرن</h2>
        <p [ngClass]="{'d-none': isSticky}">بازاری قابل اعتماد در صنعت ساختمان</p>
      </div>
    </div>
    <div class="search-field">
      <div class="input-group-pre">
         <span class="input-group-content"><img src="../../../../assets/img/icons/search.png" class="img-icon"></span>
      </div>
      <input type="text" placeholder="جستجو کالا خدمات و ..." aria-label="search">
      <div class="input-group-pos">
        <span class="input-group-content">
          <img src="../../../../assets/img/icons/pin.svg" class="img-icon">
          <span class="mx-1">تهران</span>
        </span>
      </div>
    </div>
    <div class="login-header">
      <div *ngIf="!isLoggedIn">
        <a routerLink="/auth/login">ورود</a>
        <a routerLink="/auth/register">ثبت نام</a>
      </div>
      <div *ngIf="isLoggedIn">
        <p>کاربر {{username}}</p>
      </div>
      <div [ngClass]="{'d-none': isSticky}">
        <button routerLink="/auth/businessRegister" class="myBtn">ثبت کسب و کار</button>
      </div>
    </div>
  </div>
  <div [ngClass]="{'d-none': isSticky}" id="header-bottom">
    <ul class="my-nav">
      <li>صفحه اصلی</li>
      <li>فروشنده شوید</li>
      <li>پروژه بگیرید</li>
      <li>برآورد هزینه ساخت</li>
      <li>تماس با ما</li>
      <li>سوالی دارید؟</li>
    </ul>
  </div>
</div>
