<div id="footer">
  <div id="footer-top">
    <ul class="my-nav">
      <li>مشاوره رایگان</li>
      <li>بررسی تخصصی</li>
      <li>بهترین قیمت</li>
      <li>ارسال سراسر کشور</li>
      <li>تماس با ما</li>
      <li>پشتیبانی ۲۴ ساعته</li>
    </ul>
  </div>
  <div id="footer-bottom" class="row footer-content about-us m-0" >
      <div class="col-12 col-md-3"  style="bottom: 2rem;">
          <div class="logo-container flex-column flex-md-row">
            <div>
              <img class="logo" src="../../../../assets/img/logo/logo.png" width="90px" height="90px">
            </div>
            <div>
              <h2>عمران مدرن</h2>
              <p>بازاری قابل اعتماد در صنعت ساختمان</p>
            </div>
          </div>
          <p class="d-none d-md-block text-justify">عمران مدرن یکی از
           شرکت‌های نوپا در زمینه فعالیت‌های ساختمانی است که هدف آن ایجاد بستری هوشمند در زمینه
          ارائه خدمات و محصولات ساختمانی و حدف واسطه‌ها و ارتباط مستقیم خریدار و فروشنده است. ع
          مران مدرن به دنبال ایجاد فضایی نوین و هوشمند در ارتباطات ساختمانی است. در این سایت
           می‌توانید تمامی خدمات مورد نیاز برای پیشبرد پروژه خود را -از ابتدا تا انتها- بیابید.</p>
      </div>
      <div class="col-12 col-md-9 row justify-content-around">
          <div class="col-12 col-md-3 mb-2">
              <h3>مشاوره پشتیبانی</h3>
               <p>021- 77896625</p>
               <p>021- 77896625</p>
               <p>021- 77896625</p>
               <h3 class="mt-1 mb-0">آدرس دفتر مرکزی</h3>
               <p>تهران رسالت خیابان فرجام خیابان حسینعلی نبش جهانشاهی </p>
            </div>
            <div class="col-12 col-md-3 mb-2">
              <h3>عمران مدرن</h3>
              <p><a class="text-decoration-none">درباره ما</a></p>
              <p><a class="text-decoration-none">خدمات</a></p>
              <p><a class="text-decoration-none">قوانین و مقررات</a></p>
              <p><a class="text-decoration-none">تماس با ما</a></p>
              <p><a class="text-decoration-none">وبلاگ</a></p>
            </div>
            <div class="col-12 col-md-3 mb-2">
                <h3>لینک های راهنما</h3>
                <p><a class="text-decoration-none">راهنمای خریداران(مشتری)</a></p>
                <p><a class="text-decoration-none">راهنمای تامین کنندگان</a></p>
                <p><a class="text-decoration-none">شرایط عضویت( ثبت کسب و کار )</a></p>
                <p><a class="text-decoration-none">سوالات متداول</a></p>
                <div class="e-namad row">
                  <img src="../../../../assets/img/footer/1.svg" class="col-4">
                  <img src="../../../../assets/img/footer/2.svg" class="col-4">
                  <img src="../../../../assets/img/footer/3.svg" class="col-4">
                </div>
            </div>
      </div>
      <p class="d-md-none px-4 text-justify">عمران مدرن یکی از
        شرکت‌های نوپا در زمینه فعالیت‌های ساختمانی است که هدف آن ایجاد بستری هوشمند در زمینه
       ارائه خدمات و محصولات ساختمانی و حدف واسطه‌ها و ارتباط مستقیم خریدار و فروشنده است. ع
       مران مدرن به دنبال ایجاد فضایی نوین و هوشمند در ارتباطات ساختمانی است. در این سایت
        می‌توانید تمامی خدمات مورد نیاز برای پیشبرد پروژه خود را -از ابتدا تا انتها- بیابید.</p>
  </div>

</div>

