<img src="../../../../../assets/img/introleft/1.png" class="intro-left-img d-none d-md-block">
<img src="../../../../../assets/img/introleft/2.png" class="intro-left-img d-none d-md-block">
<img src="../../../../../assets/img/introleft/3.png" class="intro-left-img d-none d-md-block">

<div class="w-100 h-100 d-md-none">
  <carousel [cellsToShow]="1" class="showArrows">
    <div class="carousel-cell">
      <img src="../../../../../assets/img/introleft/1.png">
    </div>
    <div class="carousel-cell">
      <img src="../../../../../assets/img/introleft/2.png">
    </div>
    <div class="carousel-cell">
      <img src="../../../../../assets/img/introleft/3.png">
    </div>
  </carousel>
</div>
