.carousel.cell {
    display: flex;
    /* flex-direction: column; */
  }
  .top-carousel {
    width: 70%;
    margin: auto;
    height: 80%;
  }
  carousel {
    height: 100% !important;
  }
  .main-container {
    padding: 2rem 1rem
  }
  .op-30 {
    opacity: .3;
  }
  
  .right-arrow {
    position: relative;
    width: 49px;
    height: 90px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    box-shadow:-2px 2px 3px  rgb(85, 85, 80);
    padding-right: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: 12rem;
    right: 12px;
    z-index: 2; */
  }
  .right-arrow svg {
    position: absolute;
    top: 30%;
    left: 30%;
    color: gray;
  }
  
  .left-arrow {
    width: 49px;
    height: 90px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 2px 2px 3px rgb(85, 85, 80);
    padding-left: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* position: absolute;
    left: 12px;
    top: 12rem; */
  }
  .left-arrow svg {
    position: absolute;
    top: 30%;
    left: 30%;
    color: gray;
  }
  
  .related-company {
    position: absolute;
      top: 1.5rem;
      right: 0rem;
      width: 95%;
      text-align: center !important;
  }
  /* .related-price{
    position: absolute;
      bottom: 2rem;
      right: 0rem;
      min-width: 10rem;
      overflow: visible;
  } */
  
  /* .related-service-col-3 {
    min-width: 21rem !important;
    max-width: 21rem !important;
  } */
  
  .related-service-col-3 .section {
    height: 96%;
  }
  
  @media only screen and (max-width: 1200px) {
    .related-price {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .md-border-0 {
      border: 0 !important;
    }
  }
  