<div class="container">
  <div *ngIf="this.general.index === 0" class="w-100">
    <img class="d-none w-100 d-lg-block" src="../../../../../assets/img/left-coworkers/1koli.png">
    <img class="d-lg-none w-50" src="../../../../../assets/img/left-coworkers/1t.png">
  </div>
  <div *ngIf="this.general.index === 1" class="w-100">
    <img class="d-none w-100 d-lg-block" src="../../../../../assets/img/left-coworkers/2koli.png">
    <img class="d-lg-none w-50" src="../../../../../assets/img/left-coworkers/2t.png">
  </div>
  <div *ngIf="this.general.index === 2" class="w-100">
    <img class="d-none w-100 d-lg-block" src="../../../../../assets/img/left-coworkers/1koli.png">
    <img class="d-lg-none w-100" src="../../../../../assets/img/left-coworkers/3t.png">
  </div>
  <div *ngIf="this.general.index === 3" class="w-100">
    <img class="d-none w-100 d-lg-block" src="../../../../../assets/img/left-coworkers/1koli.png">
    <img class="d-lg-none w-100" src="../../../../../assets/img/left-coworkers/4t.png">
  </div>
  <div *ngIf="this.general.index === 4" class="w-100">
    <img class="d-none w-100 d-lg-block" src="../../../../../assets/img/left-coworkers/1koli.png">
    <img class="d-lg-none w-100" src="../../../../../assets/img/left-coworkers/5t.png">
  </div>
  <div *ngIf="this.general.index === 5" class="w-100">
    <img class="d-none w-100 d-lg-block" src="../../../../../assets/img/left-coworkers/1koli.png">
    <img class="d-lg-none w-100" src="../../../../../assets/img/left-coworkers/6koli.png">
  </div>
</div>
