<div class="d-none d-md-block position-relative">
  <img class="bg" src="../../../assets/img/apply-your-work/background.svg" >
  <div class="content-container">
    <p>با ثبت اطلاعات خود در سایت عمران مدرن٬ خدمات٬ کالا یا تخصص خود را معرفی کرده و پروژه بگیرید</p>
    <button class="myBtn">فروشنده شوید/پروژه بگیرید</button>
  </div>
</div>
<div class="d-md-none apply-small">
  <h3 class="text-center text-white w-100 px-1">با ثبت اطلاعات خود در سایت عمران مدرن٬ خدمات٬ کالا یا تخصص خود را معرفی کرده و پروژه بگیرید</h3>
  <img src="../../../../assets/img/apply-your-work/saze.svg" class="img-small">
  <button class="btn btn-light border border-black">فروشنده شوید</button>
  <img src="../../../../assets/img/apply-your-work/workers.svg" class="img-small">
  <button class="btn btn-light border border-black">پروژه بگیرید</button>
</div>
