<div class="d-flex justify-content-between align-items-center">
  <h3 class="text-info mb-0"><i class="fas fa-filter"></i>فیلتر کردن پیشنهادات</h3>
  <a class="d-flex align-items-center text-secondary" (click)="onNoClick()">بازگشت<mat-icon>chevron_left</mat-icon></a>
</div>
<hr>


<div class="section">
  <h4>محدوده قیمت مورد نظر</h4>
  <ng5-slider [(value)]="data.minValue" [(highValue)]="data.maxValue" [options]="data.options"></ng5-slider>

  <h4 class="mt-5">برند</h4>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label class="small">برند مورد نظر خود را انتخاب کنید</mat-label>
    <mat-select [(ngModel)]="choosenBrand">
      <mat-option *ngFor="let brand of data.brands" [value]="brand.value">
        {{brand.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4 class="mt-1">کیفیت</h4>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label class="small">کیفیت مورد نظر خود را انتخاب کنید</mat-label>
    <mat-select [(ngModel)]="choosenQuality">
      <mat-option *ngFor="let quality of data.qualities" [value]="quality.value">
        {{quality.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="d-flex pt-5">
    <button class="btn btn-info mx-auto" [mat-dialog-close] = "[data.minValue, data.maxValue, choosenBrand, choosenQuality]">فیلتر کردن</button>
  </div>
</div>
