<!-- <div class="categories_menu categories_four">
    <div class="categories_title">
      <h2 class="categori_toggle"><i class="fas fa-bars"></i> دسته‌بندی ها</h2>
    </div>
    <hr class="mt-0">
    <div class="categories_menu_toggle">
      <ul>
        <li class="menu_item_children"><a href="#">مشارکت و ساخت/اخذ مجوز<i class="fa fa-angle-left"></i></a>
          <ul class="categories_mega_menu">
            <li class="menu_item_children"><a href="#">لباس ها</a>
              <ul class="categorie_sub_menu">
                <li><a href="">زیر پیراهن</a></li>
                <li><a href="">عصرانه</a></li>
                <li><a href="">روزانه</a></li>
                <li><a href="">ورزشی</a></li>
              </ul>
            </li>
            <li class="menu_item_children"><a href="#">خواربار</a>
              <ul class="categorie_sub_menu">
                <li><a href="">رودوشی</a></li>
                <li><a href="">کیف مدرسه</a></li>
                <li><a href="">کودکانه</a></li>
                <li><a href="">کت ها</a></li>
              </ul>
            </li>
            <li class="menu_item_children"><a href="#">نوشیدنی</a>
              <ul class="categorie_sub_menu">
                <li><a href="">چکمه های مچ پا</a></li>
                <li><a href="">صندل ها قفل دار </a></li>
                <li><a href="">مخصوص دویدن</a></li>
                <li><a href="">کتاب ها</a></li>
              </ul>
            </li>
            <li class="menu_item_children"><a href="#">تنقلات</a>
              <ul class="categorie_sub_menu">
                <li><a href="">کت و ژاکت </a></li>
                <li><a href="">بارانی ها</a></li>
                <li><a href="">ژاکت ها</a></li>
                <li><a href="">تیشرت ها</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <hr>
        <li class="menu_item_children"><a href="#">خدمات آزمایشگاهی و ساختمان<i class="fa fa-angle-left"></i></a>
          <ul class="categories_mega_menu column_3">
            <li class="menu_item_children"><a href="#">صندلی</a>
              <ul class="categorie_sub_menu">
                <li><a href="">ناهارخوری</a></li>
                <li><a href="">اتاق خواب</a></li>
                <li><a href=""> خانه و اداره</a></li>
                <li><a href="">اتاق نشیمن</a></li>
              </ul>
            </li>
            <li class="menu_item_children"><a href="#">آرایشی و بهداشتی</a>
              <ul class="categorie_sub_menu">
                <li><a href="">نورپردازی سقفی</a></li>
                <li><a href="">نورپردازی دیواری</a></li>
                <li><a href="">نورپردازی بیرون خانه</a></li>
                <li><a href="">نورپردازی هوشمند</a></li>
              </ul>
            </li>
            <li class="menu_item_children"><a href="#">دخانیات</a>
              <ul class="categorie_sub_menu">
                <li><a href="">مبل های پارچه ای</a></li>
                <li><a href="">مبل های چرمی</a></li>
                <li><a href="">مبل های گوشه ای</a></li>
                <li><a href="">مبل های تخت خوابی</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <hr>
        <li class="menu_item_children"><a href="#">مهندس طراح و شرکت مشاور<i class="fa fa-angle-left"></i></a>
          <ul class="categories_mega_menu column_2">
            <li class="menu_item_children"><a href="#">ابزار ترمز</a>
              <ul class="categorie_sub_menu">
                <li><a href="">میل لنگ</a></li>
                <li><a href="">قرقره</a></li>
                <li><a href="">دیزل </a></li>
                <li><a href="">بنزین</a></li>
              </ul>
            </li>
            <li class="menu_item_children"><a href="#">ترمز اضطراری</a>
              <ul class="categorie_sub_menu">
                <li><a href="">عروسک های دخترانه</a></li>
                <li><a href="">ابزار آموزشی دخترانه</a></li>
                <li><a href="">هنر های کودکان</a></li>
                <li><a href="">بازی های ویدئویی بچگانه</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <hr>
        <li class="menu_item_children"><a href="#"> مهندس و شرکت های مجری <i class="fa fa-angle-left"></i></a>
          <ul class="categories_mega_menu column_2">
            <li class="menu_item_children"><a href="#">شلوار جین</a>
              <ul class="categorie_sub_menu">
                <li><a href="">ساختمان</a></li>
                <li><a href="">لوازم الکترونیکی</a></li>
                <li><a href="">اکشن فیگور </a></li>
                <li><a href="">اسباب بازی های مخصوص</a></li>
              </ul>
            </li>
            <li class="menu_item_children"><a href="#">ماسین حساب ها</a>
              <ul class="categorie_sub_menu">
                <li><a href="">عروسک های دخترانه</a></li>
                <li><a href="">ابزار آموزشی دخترانه</a></li>
                <li><a href="">هنر های کودکان</a></li>
                <li><a href="">بازی های ویدئویی بچگانه</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <hr>
        <li class="dont-have-child"><a href="#"> سفت کاری و نازک کاری</a></li>
        <hr>
        <li class="dont-have-child"><a href="#"> پیمانکاری جز</a></li><hr>
        <li class="dont-have-child"><a href="#">تاسیسات برقی و مکانیکی</a></li><hr>
        <li class="dont-have-child"><a href="#"> تجهیزات/ماشین آلات</a></li>
      </ul>
    </div>
</div> -->

<button class="btn-menu" [matMenuTriggerFor]="animals">مشارکت و ساخت/اخذ مجوز <mat-icon>chevron_left</mat-icon></button>
<button class="btn-menu" [matMenuTriggerFor]="animals">خدمات آرمایشگاهی ساختمان <mat-icon>chevron_left</mat-icon></button>
<button class="btn-menu" [matMenuTriggerFor]="animals">مهندس طراح/شرکت مشاور <mat-icon>chevron_left</mat-icon></button>
<button class="btn-menu" [matMenuTriggerFor]="animals">مهندس و شرکت های مجری <mat-icon>chevron_left</mat-icon></button>
<button class="btn-menu" [matMenuTriggerFor]="animals">مصالح سفت کاری و نازک کاری <mat-icon>chevron_left</mat-icon></button>
<button class="btn-menu" [matMenuTriggerFor]="chom">پیمانکاری جز <mat-icon>chevron_left</mat-icon></button>
<button class="btn-menu" [matMenuTriggerFor]="chom">تاسیسات برقی و مکانیکی <mat-icon>chevron_left</mat-icon></button>
<button class="btn-menu" [matMenuTriggerFor]="chom">تجهیزات/ماشین آلات <mat-icon>chevron_left</mat-icon></button>

<!-- <button class="w-100" mat-icon-button [matMenuTriggerFor]="animals"><mat-icon>home</mat-icon></button>
<button class="w-100" mat-icon-button [matMenuTriggerFor]="animals"><mat-icon>home</mat-icon></button>
<button class="w-100" mat-icon-button [matMenuTriggerFor]="animals"><mat-icon>home</mat-icon></button>
<button class="w-100" mat-icon-button [matMenuTriggerFor]="animals"><mat-icon>home</mat-icon></button>
<button class="w-100" mat-icon-button [matMenuTriggerFor]="animals"><mat-icon>home</mat-icon></button>
<button class="w-100" mat-icon-button [matMenuTriggerFor]="chom"><mat-icon>dashboard</mat-icon></button> -->

<mat-menu #chom="matMenu" direction="rtl"  dir="rtl"  >
  <button mat-menu-item >velamkon</button>
  <button mat-menu-item>chom vala</button>
</mat-menu>
<mat-menu #animals="matMenu" direction="rtl"  dir="rtl" >
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu" dir="rtl"  >
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #invertebrates="matMenu" dir="rtl"  >
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu" direction="rtl"  dir="rtl"  >
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu" direction="rtl"  dir="rtl"  >
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu" direction="rtl"  dir="rtl"  >
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>
