.btn-menu {
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(230, 225, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.button-menu {
	height: 50px;
	border: none;
	border-bottom: 1px solid rgb(230, 225, 225);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	overflow-x: visible;
	position: relative;
}
.button-menu:focus {
	border:none;
	outline: none;
}
.submenu {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	display: none;
	transition: 2s;
	border-right: 3px solid #2C5670;
}

.menu-open {
    width: 13rem !important;
    transform: translateX(-12.9rem);
    z-index: 5000;
	display: block !important;
}

.all-background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
}