<div class="main-container">
  <div class="row d-none d-md-flex">
    <div class="col-12">
      <div class="section">
        <div class="d-flex justify-content-around">
          <span class="ml-auto d-flex align-items-center text-secondary"><i class="fas fa-sort-amount-up fa-2x ml-1"></i>مرتب سازی بر اساس</span>

          <button #buttonRef1 class="btn btn-sm" (click)="sort(buttonRef1)">حداکثر قیمت واحد</button>
          <button #buttonRef2 class="btn btn-sm" (click)="sort(buttonRef2)">حداقل قیمت</button>
          <button #buttonRef3 class="btn btn-sm active" (click)="sort(buttonRef3)">حداکثر قیمت کل</button>
          <button #buttonRef4 class="btn btn-sm" (click)="sort(buttonRef4)">حداقل قیمت کل</button>
          <button #buttonRef5 class="btn btn-sm" (click)="sort(buttonRef5)">آخرین بروز رسانی</button>
          <button #buttonRef6 class="btn btn-sm" (click)="sort(buttonRef6)">بالاترین کیفیت فروشنده</button>
          <button #buttonRef7 class="btn btn-sm" (click)="sort(buttonRef7)">کمترین زمان ارسال</button>

        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-3 pl-1 d-none d-md-flex">
      <div class="section w-100">
        <h3 class="text-info"><i class="fas fa-filter ml-1"></i>جستجوی پیشرفته</h3>
        <hr>
        <mat-radio-group
          aria-labelledby="radio-group-label"
          class="radio-group"
          [(ngModel)]="executeOrDischarge">
          <mat-radio-button class="radio-button" value="execute">
            با اجرا
          </mat-radio-button>
          <mat-radio-button class="radio-button" value="discharge">
            با تخلیه بار
          </mat-radio-button>
        </mat-radio-group>
        <hr>
        <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group"
        [(ngModel)]="transport">
        <mat-radio-button class="radio-button" value="true">
          حمل با فروشنده
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="false">
         بدون حمل
        </mat-radio-button>
      </mat-radio-group>
      <hr>
      </div>
    </div>
    <div class="d-md-none d-flex justify-content-around w-100">
      <button class="btn btn-outline-info" (click)="openSearchDialog()"><i class="fas fa-filter"></i>جستجوی پیشرفته</button>
      <button class="btn btn-outline-info" (click)="openSortDialog()"><i class="fas fa-sort-amount-up"></i>مرتب سازی بر اساس</button>
    </div>

    <div class="col-md-9 d-none d-md-block pr-md-0 "> 
      <!-- <div class="section"> inja namayeshe forooshandehas az md be bad
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="text-center">
              <tr>
                <th>فروشنده</th>
                <th>اطلاعات تماس</th>
                <th>حمل/اجرا/تجهبزات</th>
                <th>شرایط</th>
                <th>قیمت</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of sellers">
                <td class="border-0">
                  <img src="{{record.seller.logo}}" class="img-fluid" width="50px">
                  <span class="d-block">{{record.seller.name}}</span>
                  <span class="d-flex flex-row">
                    <i *ngFor="let index of generateRowIndexes(record.seller.stars)" class="fas fa-star text-warning"></i>
                  </span>
                </td>
                <td class="border-right-0 border-left-0">
                  <div>
                    <i class="fas fa-plus-circle"></i>
                    افزودن کالا به پروژه
                  </div>
                  <div>
                    <i class="fas fa-phone"></i>
                    دریافت شماره تماس
                  </div>
                  <div>
                    <i class="fas fa-map-marker-alt"></i>
                    {{record.contact.address}}
                  </div>
                </td>
                <td class="border-right-0 border-left-0">
                  <div>
                    <span>قیمت حمل: </span>
                    <span>{{record.transport.transportPrice}}</span>
                  </div>
                  <div>
                    <span>وسیله حمل: </span>
                    <span>{{record.transport.transportCar}}</span>
                  </div>
                  <div>
                    <span>اجرا دارد؟: </span>
                    <span>{{record.transport.execute}}</span>
                  </div>
                </td>
                <td class="border-right-0 border-left-0">
                  <div class="badge badge-danger">
                    <span>تخفیف {{record.states.disscount}} درصد</span>
                  </div>
                  <div>
                    <span>آخرین بروزرسانی: </span>
                    <span>{{record.states.lastUpdate}}</span>
                  </div>
                  <div>
                    <span>زمان آماده سازی: </span>
                    <span>{{record.states.preparationTime}}</span>
                  </div>
                  <div>
                    <span>شرکت حمل: </span>
                    <span>{{record.states.transportCompany}}</span>
                  </div>

                </td>
                <td class="border-right-0 border-left-0">
                  <div>
                    <span>قیمت هر کیلوگرم: </span>
                    <span>{{record.price.pricePerUnit}} تومان</span>
                  </div>
                  <div>
                    <span>قیمت کل: </span>
                    <span>{{record.price.totalPrice}} تومان</span>
                  </div>
                  <button class="btn btn-outline-danger btn-sm">اطلاع عدم بروز بودن قیمت</button>
                </td>

              </tr>
              <tr *ngFor="let record of sellers">
                <td class="border-0">
                  <img src="{{record.seller.logo}}" class="img-fluid" width="50px">
                  <span class="d-block">{{record.seller.name}}</span>
                  <span class="d-flex flex-row">
                    <i *ngFor="let index of generateRowIndexes(record.seller.stars)" class="fas fa-star text-warning"></i>
                  </span>
                </td>
                <td class="border-right-0 border-left-0">
                  <div>
                    <i class="fas fa-plus-circle"></i>
                    افزودن کالا به پروژه
                  </div>
                  <div>
                    <i class="fas fa-phone"></i>
                    دریافت شماره تماس
                  </div>
                  <div>
                    <i class="fas fa-map-marker-alt"></i>
                    {{record.contact.address}}
                  </div>
                </td>
                <td class="border-right-0 border-left-0">
                  <div>
                    <span>قیمت حمل: </span>
                    <span>{{record.transport.transportPrice}}</span>
                  </div>
                  <div>
                    <span>وسیله حمل: </span>
                    <span>{{record.transport.transportCar}}</span>
                  </div>
                  <div>
                    <span>اجرا دارد؟: </span>
                    <span>{{record.transport.execute}}</span>
                  </div>
                </td>
                <td class="border-right-0 border-left-0">
                  <div class="badge badge-danger">
                    <span>تخفیف {{record.states.disscount}} درصد</span>
                  </div>
                  <div>
                    <span>آخرین بروزرسانی: </span>
                    <span>{{record.states.lastUpdate}}</span>
                  </div>
                  <div>
                    <span>زمان آماده سازی: </span>
                    <span>{{record.states.preparationTime}}</span>
                  </div>
                  <div>
                    <span>شرکت حمل: </span>
                    <span>{{record.states.transportCompany}}</span>
                  </div>

                </td>
                <td class="border-right-0 border-left-0">
                  <div>
                    <span>قیمت هر کیلوگرم: </span>
                    <span>{{record.price.pricePerUnit}} تومان</span>
                  </div>
                  <div>
                    <span>قیمت کل: </span>
                    <span>{{record.price.totalPrice}} تومان</span>
                  </div>
                  <button class="btn btn-outline-danger btn-sm">اطلاع عدم بروز بودن قیمت</button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
      
      <div class="seller-material row" *ngFor="let sellerMaterial of sellerMaterials">
        <img [src]="sellerMaterial.material.image" class="col-3"> <!--image -->
        <div class="col-9 d-flex flex-column text-secondary"> <!--samate chap-->
          <div class="d-flex justify-content-between"> <!--balayi-->
            <div class="d-flex flex-column">
              <p>{{sellerMaterial.material.name}}</p>
              <div class="d-flex align-items-center">
                <mat-icon class="text-warning">star</mat-icon>
                <p class="mb-0">{{sellerMaterial.material.rate|persianNumber}}</p>
              </div>    
            </div>
            <div class="d-flex align-items-center text-secondary">
              <mat-icon>comment</mat-icon>
              <p class="mb-0 mr-1">ثبت نظر و امتیاز کالا</p>
            </div>
            <button class="btn btn-info d-flex align-items-center btn-sm">
              <mat-icon class="ml-1">favorite</mat-icon>
              <a class="text-white">افزودن کالا به علاقه مندی ها</a>
            </button>
            
          </div>
          <div class="d-flex justify-content-between section-gray position-relative"> <!--payini-->
            <img class="seller-image" [src]="sellerMaterial.image">
            <div class="d-flex flex-column">
              <p>{{sellerMaterial.name}}</p>
              <div class="d-flex align-items-center">
                <mat-icon class="text-warning">star</mat-icon>
                <p class="mb-0">{{sellerMaterial.rate|persianNumber}}</p>
              </div>    
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <mat-icon class="text-info">phone</mat-icon>
                <p class="mb-0">شماره تماس</p>
              </div> 
              <div class="d-flex align-items-center">
                <mat-icon class="text-info">pin</mat-icon>
                <p class="mb-0">{{sellerMaterial.addresses[0].city}}-{{sellerMaterial.addresses[0]?.zone}}</p>
              </div> 
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex">
                <p class="ml-1">قیمت: </p>
                <p>{{sellerMaterial.prices[0].amount| persianNumber}}</p>
              </div>
              <div class="d-flex ml-2">
                <p class="ml-1">آخرین بروزرسانی: </p>
                <!-- <p>{{sellerMaterial.prices[0].last_update}}</p> -->
                <p>دیروز</p>
              </div>
              <div class="disscounts">
                تخفیف ۵ درصد
              </div>
            </div>
          </div> 
        </div>
      </div>
      
    </div>
    
    <div class="d-md-none d-block mt-3 w-100">  <!-- inja namayeshe forooshanfehas ghabl az md -->
      <h3>فروشنده های کالا</h3>
      <!-- <div class="section pt-3" *ngFor="let record of sellers">
        <div class="d-flex">
          <img src={{record.seller.logo}} class="logos-for-mobile">
          <div class="d-flex flex-column justify-content-between">
            <span class="d-block">{{record.seller.name}}</span>
              <span class="d-flex flex-row">
              <i *ngFor="let index of generateRowIndexes(record.seller.stars)" class="fas fa-star text-warning"></i>
            </span>
          </div>
          <div class="badge badge-danger mr-auto badge-aspect">
            <span>{{record.states.disscount}}%</span>
          </div>
        </div>
        <div class="row my-4 text-secondary">
          <a class="col-6 text-primary mb-2">دریافت اطلاعات تماس</a>
          <div class="col-6 pl-0 mb-2">
            <span>قیمت هر کیلوگرم: </span>
            <span class="mr-auto">{{record.price.pricePerUnit}} تومان</span>
          </div>
          <span class="col-6">
            {{record.contact.address}}
          </span>
          <div class="col-6 pl-0">
            <span>قیمت کل: </span>
            <span class="mr-auto">{{record.price.totalPrice}} تومان</span>
          </div>
        </div>
        <a class="d-flex align-items-center justify-content-end text-primary" (click)="openMoreInformation(record)">اطلاعات بیشتر<mat-icon>chevron_left</mat-icon></a>
      </div> -->
    </div>
  </div>
</div>
