<div class="header-wrapper">
    <div [@scrollAnimation]="isHeader1Visible">
        <app-header></app-header>
    </div>
    <div id="header-scrolled" [@scrollAnimation]="isHeader2Visible">
        <div id="header-top" class="d-none d-md-flex">
            <div class="logo-container">
              <div>
                <h2>عمران مدرن</h2>
                <p>بازاری قابل اعتماد در صنعت ساختمان</p>
              </div>
            </div>
            <div class="search-field">
              <div class="input-group-pre">
                 <span class="input-group-content"><img src="../../../../assets/img/icons/search.png" class="img-icon"></span>
              </div>
              <input type="text" placeholder="جستجو کالا خدمات و ..." aria-label="search">
              <div class="input-group-pos">
                <span class="input-group-content">
                  <img src="../../../../assets/img/icons/pin.svg" class="img-icon">
                  <span class="mx-1">تهران</span>
                </span>
              </div>
            </div>
            <div class="login-header">
              <div>
                <a routerLink="/auth/login">ورود</a>
                <a routerLink="/auth/register">ثبت نام</a>
              </div>
              <!-- <div>
                <p>کاربر {{username}}</p>
              </div> -->
              <div>
                <button routerLink="/auth/businessRegister" class="myBtn">ثبت کسب و کار</button>
              </div>
            </div>
        </div>
        <div id="header-top-md" class="d-flex d-md-none">
          <p><button (click)="openSidebar()" class="icon-btn open-sidebar"><mat-icon>dehaze</mat-icon></button></p>
          <div class="d-flex align-items-center">
            <h3 class="text-white">عمران مدرن</h3>
            <img class="logo" src="../../../../assets/img/logo/logo.png" width="60px" height="60px">
          </div>
          <div id="sidebar" #sidebar>
            <h3>sidebar</h3>
            <mat-icon id="close-sidebar" (click)="closeSidebar()">do_not_disturb_on</mat-icon>
          </div>
        </div>
    </div>
</div>

<div class="contentWrapper">
  <router-outlet></router-outlet>
</div>
<div class="footer-wrapper">
  <app-footer></app-footer>
</div>