#header-scrolled {
    position: absolute;
    top: 0;
    width: 100%;
}
#header-scrolled #header-top {
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 7rem;
    background-color: #2b5670 !important;
  }

  #header-top-md {
    position: fixed;
    justify-content: space-between;
    padding: .3rem;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #2b5670 !important;
  }
  .open-sidebar {
    background-color: #2b5670 !important;
    color: white;
  }
  #header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #ebeff3 !important;
  }
  
  #header-top a {
    color: white !important;
  }
  .logo-container {
    max-height: 120px;
    padding-top: 5px;
    display: flex;
    color: white;
  }
  .logo-container h2,p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  
  .logo {
    overflow: hidden;
    padding-left: 1em;
  }
  
  .search-field {
    width: 35%;
    margin-top: 10px;
    display: flex;
    height: 3.5rem;
    margin-top: 0;
  }
  
  .search-field > input {
    width: 65%;
    padding: 1em;
    outline: none;
  
  }
  
  
  .login-header {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .login-header div {
    text-align: center;
    margin-top: .5em;
  }
  
  .login-header a {
    padding: .5em;
    font-size: 1.1em;
  }
  #sidebar {
    position: fixed;
    top: 0;
    right: -5rem;
    width: 0;
    height: 50rem;
    background-color: white;
    z-index: 1000;
    transition: width 1s ease;
  }
  #sidebar.show {
    width: 300px;
    right: 0;
  }
  #close-sidebar {
    position: absolute;
    top: 1rem;
    left: -.7rem;
    background-color: #B20F50;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
  }