.header-top-small {
  background-color: #2c5670;
  padding: .5rem .5rem;
}

.header-bottom-small {
  background-color: #ebeff3;
  padding: .5rem .5rem;
}
.search-field-small {
  width: 75%;
  display: flex;
  padding: .5rem 0rem;
  height: 50px;
}

.example-container {
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.logo-container {
  max-height: 80px;
  padding-top: 5px;
  display: flex;
  color: white;
}
