<app-why-us-header></app-why-us-header>
<div class="main-container row">
  <div class="col-1 right-side d-none d-md-block">
    <h2 class="rotated">فروشنده شوید...</h2>
  </div>
  <div class="col-12 col-md-10">
    <div class="col-12 row">
      <div class="col-12 col-md-4 text-center">
        <img src="../../../../assets/img/second-why-us/2.svg" class="w-50">
        <h2>افزایش تماس/افزایش فروش</h2>
        <p>
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه
          و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا
          از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا
          طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی
          استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="../../../../assets/img/second-why-us/3.svg" class="w-50">
        <h2>افزایش تماس/افزایش فروش</h2>
        <p>
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه
          و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا
          از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا
          طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی
          استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر


        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="../../../../assets/img/second-why-us/4.svg" class="w-50">
        <h2>افزایش تماس/افزایش فروش</h2>
        <p>
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه
          و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا
          از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا
          طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی
          استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر


        </p>
      </div>
    </div>
    <div class="col-12 d-none d-md-block position-relative">
      <div class="jumbotron text-center">
        <h2>افزایش تماس/افزایش فروش</h2>
        <h3 class="text-center">طر از این متن به عنوان عنصری از ترکیب بندی عنصری از ترکیب بندی  برای پر کرد</h3>
      </div>
      <img src="../../../../assets/img/second-why-us/1.svg" class="head-of-jumbotron">
    </div>
    <div class="col-12 row">
      <div class="col-12 col-md-4 text-center">
        <img src="../../../../assets/img/second-why-us/5.svg" class="w-50">
        <h2>افزایش تماس/افزایش فروش</h2>
        <p>
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه
          و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا
          از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا
          طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی
          استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر


        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="../../../../assets/img/second-why-us/6.svg" class="w-50">
        <h2>افزایش تماس/افزایش فروش</h2>
        <p>
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه
          و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا
          از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا
          طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی
          استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر


        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="../../../../assets/img/second-why-us/7.svg" class="w-50">
        <h2>افزایش تماس/افزایش فروش</h2>
        <p>
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه
          و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا
          از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا
          طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی
          استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر


        </p>
      </div>
    </div>
  </div>
  <div class="col-1 left-side d-none d-md-block">
    <h2 class="rotated">فروشنده شوید...</h2>
  </div>
</div>
