.header-why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.getWidthforHr {
  width: 4.7em;
}

.center {
  width: 11em !important;
}

.triangle {
  width: 0;
  height: 0;
  border-left: .7em solid transparent;
  border-right: .7em solid transparent;

  border-top: .7em solid #49aab1;
  margin-top: .5em;
}
