<!-- <svg class="co-werkers" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 230 400">
  <path fill="#ebeff3" fill-opacity="1" d="M230,0L0,92L25,325L230,400Z"></path>
</svg> -->
<img src="../../../../assets/img/coworkers.svg" height="650px">
<div class="d-flex flex-column slides-bg">
  <button (mouseenter)="stopSliding(0)" (mouseleave)="startSliding()" class="btn" [ngClass]="active[0] ? 'active': 'notActive'"><img class="tuneSVG" src="../../../../assets/img/icons/10-1.svg">سازنده/مشتری</button>
  <button (mouseenter)="stopSliding(1)" (mouseleave)="startSliding()" class="btn" [ngClass]="active[1] ? 'active': 'notActive'"><img class="tuneSVG" src="../../../../assets/img/icons/8-1.svg">فروشنده کالاها</button>
  <button (mouseenter)="stopSliding(2)" (mouseleave)="startSliding()" class="btn" [ngClass]="active[2] ? 'active': 'notActive'"><img class="tuneSVG" src="../../../../assets/img/icons/7-1.svg">پیمانکار اجرایی</button>
  <button (mouseenter)="stopSliding(3)" (mouseleave)="startSliding()" class="btn" [ngClass]="active[3] ? 'active': 'notActive'"><img class="tuneSVG" src="../../../../assets/img/icons/6-2.svg">مهندس/شرکت مشاور</button>
  <button (mouseenter)="stopSliding(4)" (mouseleave)="startSliding()" class="btn" [ngClass]="active[4] ? 'active': 'notActive'"><img class="tuneSVG" src="../../../../assets/img/icons/4-2.svg">خدمات آزمایشگاهی</button>
  <button (mouseenter)="stopSliding(5)" (mouseleave)="startSliding()" class="btn" [ngClass]="active[5] ? 'active': 'notActive'"><img class="tuneSVG" src="../../../../assets/img/icons/5-1.svg">شرکت حمل/ماشین آلات</button>
</div>


`
